.pHero {
}

.pHeroContent {
  margin: 30px 0 120px 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  margin-bottom: 120px;
}

.gallary {
}

.gallaryPrev {
    width: 100%;
    min-height:550px ;
   overflow: hidden;
    border-radius: var(--br);

}

.gallaryPrev img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.gallaryList{
    display: flex;
    gap: 10px;
}

.gallaryListItem{
    border-radius: var(--br);
    width: 100px;
    height: 100px;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.infoBack {
  display: flex;
  gap: 15px;

  align-items: center;

  margin-bottom: 30px;
}

.infoBackButt {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--br);
  background: var(--temnyy-2);

  width: 45px;
  height: 45px;

  transition: 300ms all ease;
}

.infoBackButt:hover {
  background: var(--seryy-3);
}

.infoTitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  text-transform: uppercase;
  color: var(--belyy);

  margin-bottom: 10px;
}

.infoText {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: var(--seryy-1);

  margin-bottom: 25px;
}

.infoPrice {
  gap: 10px;

  margin-top: 40px;
  margin-bottom: 80px;
}

.infoPriceText {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: var(--seryy-1);
}

.infoPriceCount {
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  text-transform: uppercase;
  color: var(--belyy);
}
