.wrap [data-layer="region"]{
    fill: var(--temnyy-1);
    z-index: 2;

    transition: 700ms all ease;
}

.wrap [data-layer="region"].isActive {
    fill: var(--siniy-1);
}

.wrap [data-layer="okrug"] {
    stroke: var(--seryy-3);
    z-index: 1;
    transition: 700ms;
}

.wrap [data-layer="okrug"].isActive {
    stroke: var(--belyy);
}


/* .wrap [data-layer="region"]:hover{
    fill: var(--seryy-1);
    transform: scale(1.02);
} */

/* 
.wrap [data-layer="okrug"]:hover {
    transform: scale(1.05);
} */

