.Interesting{
    margin: 120px 0;
}



.InterestingHeader {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: end;
}


.InterestingContent {
    margin: 40px 0;
}


@media (max-width: 470px) {
    .Interesting{
    margin: 30px 0;
}
.InterestingContent {
    margin: 20px 0;
}
}