.hero {
  background: url(../../../../public/img/hero/fon.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 90vh;


  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.heroContent {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    max-width: 600px;
}

.heroContent :global(.butt){
    margin-top: 70px;
}

.heroAdvantages {
  background: var(--temnyy-1);
  padding: 30px 0;
}

.heroAdvantagesItem {
  position: relative;

  gap: 20px;
}

.heroAdvantagesItem:not(:last-child)::after {
  content: "";

  position: absolute;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  right: -30%;
}

.heroAdvantagesItem p {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--belyy);
  max-width: 250;
}
