.advantages {
  background: var(--fon-chernyy-3);
  padding-bottom: 100px;
}

.advantagesContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 60px 0 0;
}

.advantagesGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

@media (max-width: 1400px) {
  .advantagesContent {
    gap: 16px;
  }
}

@media (max-width: 1024px) {
  .advantages {
    padding-bottom: 64px;
  }
}

@media (max-width: 740px) {
  .advantagesContent {
    grid-template-columns: 1fr;
  }

  .advantages {
    padding-bottom: 56px;
  }
}

@media (max-width: 470px) {
  .advantagesGrid {
    grid-template-columns: 1fr;
  }

  .advantages {
    padding-bottom: 40px;
  }

  .advantagesContent {
    padding: 40px 0 0;
  }
}