.VacanciesContent {
  padding: 90px 0 60px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0;
}


.list p {
  margin: 20px 10px;

}


@media (max-width: 470px) {
  .VacanciesContent {
    padding: 60px 0 30px;
  }
}