.card {
  min-height: 560px;
}

.cardImg {
  position: relative; /* ОБЯЗАТЕЛЬНО */
  width: 100%;
  height: 55%;
  border-radius: var(--br);
  overflow: hidden;

  height: 340px;
}

.cardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardData {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: var(--seryy-2);

  padding: 10px 0;
  border-bottom: 1px solid var(--seryy-2);
}

.cardTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 110%;
  color: var(--belyy);
  margin-bottom: 10px;
  margin-top: 20px;
}

.cardText {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: var(--seryy-1);
}
