.advantages {
  padding: 50px;
}

.advantagesContent {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 50px 0;
}

.advantagesContentItem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
}

.advantagesContentItemImg {
  width: 100%;
  height: 280px;
  border-radius: var(--br);
  overflow: hidden;
}

.advantagesContentItemImg img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.advantagesContentItemText h3 {
  font-weight: 500;
  font-size: 25px;
  line-height: 110%;
  color: var(--belyy);

  margin-bottom: 10px;
}

.advantagesContentItemText p {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: var(--seryy-1);

  max-width: 570px;
}
