.contact {
  background: url(../../../../public/img/contact/fon.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 90px 0;
}

.contactsFormBox {
  max-width: 450px;
  background: var(--fon-chernyy-3);
  border-radius: 20px;

  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}
.contactsFormBox h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  text-transform: uppercase;
  text-align: center;
  color: var(--belyy);
}
.contactsFormText {
  font-weight: 500;
  font-size: clamp(12px, 2vw, 14px);
  line-height: 120%;
  color: var(--belyy);
  padding: 10px 0 30px 0;
}

.contactsForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.contactsFormInput {
  padding: 12px 20px;
  border-radius: 5px;
  backdrop-filter: blur(17.200000762939453px);
  background: rgba(255, 255, 255, 0.2);
  border: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  height: 50px;
  width: 100%;
  color: var(--tekst-belyy);
}

.contactsFormInput:focus,
.contactsFormTextarea:focus {
  outline: 1px solid var(--tekst-belyy);
}

.contactsFormInput::grammar-error,
.contactsFormTextarea::grammar-error {
  outline: 1px solid var(--tekst-red);
}

.contactsFormTextarea {
  padding: 12px 20px;
  border-radius: 5px;
  backdrop-filter: blur(17.200000762939453px);
  background: rgba(255, 255, 255, 0.2);
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  height: 150px;
  color: var(--seryy-1);

  resize: none;

  margin-bottom: 30px;
}
.contactsFormPs {
  text-align: start;
}
.contactsFormTextLink {
  color: #6596ff;

  transition: all 0.3s ease;
}

.contactsFormTextLink:hover {
  text-decoration: underline;
  color: var(--tekst-svetlyy-siniy);
}
