.footer{
    background: var(--temnyy-2);
    padding: 50px 0;
} 

.footerContant{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.footerLogo{
    height: 60px;
    justify-content: start;
}


.footerLink{
    display: block;
    margin-bottom: 20px;
}


.footerSoc{
    opacity: 0.5;
    transition: 300ms;
}



.footerSoc:hover {
    opacity: 1;
}


.footerSoc:active {
    transform: scale(0.99);
}   