.story {
  padding: 90px 0;
  background: var(--temnyy-2);
}

/* HERO */
.hero {
  margin: 60px 0 40px;
  min-height: 180px;
}

.year {
  font-size: 72px;
  font-weight: 700;
}

.title {
  margin-top: 6px;
  font-weight: 600;
}

.text {
  margin-top: 20px;
  color: rgba(255,255,255,0.6);
}

/* TIMELINE */
.timeline {
  position: relative;
}

/* риски */
.ruler {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  height: 50px;

  background: repeating-linear-gradient(
    to right,
    rgba(255,255,255,0.1),
    rgba(255,255,255,0.1) 1px,
    transparent 1px,
    transparent 10px
  );
}

.progress {
  position: absolute;
  left: 0;
  bottom: 40px;
  height: 50px;
  width: 100%;

  transform-origin: left;

  background: repeating-linear-gradient(
    to right,
    rgba(255,255,255,0.3),
    rgba(255,255,255,0.3) 1px,
    transparent 1px,
    transparent 10px
  );
}

/* viewport */
.viewport {
  overflow-x: auto;
  cursor: grab;
}
.viewport.dragging {
  cursor: grabbing;
}

/* track */
.track {
  display: flex;
  gap: 220px;
}
.spacer {
  min-width: 50vw;
}

/* item */
.item {
  scroll-snap-align: center;

  min-width: 120px;
  height: 140px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background: none;
  border: none;
}

/* линия */
.stem {
  width: 1px;
  height: 60px;
  background: rgba(255,255,255,0.2);
  margin-bottom: 10px;
  transition: 0.3s;
}

/* текст */
.label {
  font-size: 42px;
  font-weight: 700;
  color: rgba(255,255,255,0.2);
  transition: 0.3s;
}

/* active */
.active .label {
  color: #fff;
  transform: translateY(-4px);
}

.active .stem {
  height: 90px;
  background: #fff;
}

/* убрать скроллбар */
.viewport::-webkit-scrollbar {
  display: none;
}